html {
    --color-primary: #FF5748;
    --color-primary-dim: #FF8D83;
    
    --color-bg: #EDF2F4;
    --color-bg-secondary: #C2D3D9;
    --color-middle: #8D99AE;
    --color-front-secondary: #4C5075;
    --color-front: #2B2D42;
}

// Code highlight need extra love (dark background on light mode)
.highlight, pre code {
  background: var(--color-front);
  color: var(--color-bg);
}


// -------------- THEME SWITCHER -------------- //
@mixin dark-appearance {
  html, body  {
    --color-bg: #2B2D42;
    --color-bg-secondary: #4C5075;
    --color-middle: #8D99AE;
    --color-front-secondary: #C2D3D9;
    --color-front: #EDF2F4;
  };

  .highlight, pre code {
    background: var(--color-bg-secondary);
    color: var(--color-front);
  }
}